<ion-header>
  <ion-toolbar color="danger">
    <ion-title center>
      New proposal
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <form [formGroup]="newProposalForm" (submit)="createProposal(newProposalForm.value)">
      <ion-item>
        <ion-label color="primary" position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" position="floating">Speakers</ion-label>
        <ion-input type="text" formControlName="speakers" required></ion-input>
      </ion-item>

      <ion-button color="danger" class="submit-btn" expand="block" type="submit" [disabled]="!newProposalForm.valid" [routerLink]="['','home']" outerDirection="back">Create</ion-button>
    </form>
  </ion-content>
</ion-content>
