<ion-header>
  <ion-toolbar color="danger">
    <ion-title center>
      oso.app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let proposal of proposals">
        <ion-label>
          {{ proposal.title }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-fab horizontal="end" edge slot="fixed">
      <ion-fab-button color="danger" [routerLink]="['/new-proposal']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
